$primary-blue: #3b82f6;
$primary-blue-hover: #2563eb;
$primary-orange: #fb923c;
$primary-orange-hover: #f97316;
$gray: #d1d5db;
$gray-hover: #9ca3af;
$light-gray: #efefef;
$black: #000;
$white: #fff;
$danger: #ff0000;